[submodule "Backend/lib/openzeppelin-contracts"]
	path = Backend/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Backend/lib/openzeppelin-contracts-upgradeable"]
	path = Backend/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
